body {
    color: #000000;
    font-family: 'montserrat-normal', sans-serif;
}

.title,
.bag__title-bold,
.bag__title,
.bag-title-bold,
.bag-title,
.name {
    font-family: 'montserrat-bold', sans-serif;
}

/* 1 section*/

.new-collection__background {
    position: absolute;
    max-width: 461px;
    max-height: 900px;
}

.new-сollection__header,
.new-сollection__main,
.new-сollection__menu,
.new-сollection__menu {
    position: relative;
}

.logo {
    margin-right: 238px;
    max-width: 98px;
    max-height: 37px;
    margin-top: 40px;
    margin-left: 52px;
}

.logo-mobil {
    position: absolute;
    width: 98px;
    height: 37px;
    padding: 5% 0 0 20%; 
}

.lang {
    margin-top: 42px;
}

.new-сollection__menu {
    width: 92px;
    height: 92px;
    position: absolute;
    top: 0;
    right: 0;
 }

 .new-сollection__menu-box {
    opacity: 0.05;
    background: #000;
    width: 92px;
    height: 92px;
 }

 .menu {
     position: absolute;
     top: 40%;
     right: 30%; 
 }

 .girl {
    max-width: 855.54px;
    height: 839px;
    left: 49.28px;
    top: 60.92px;
    margin-left: 50px;
    background: url(../img/girl.png) no-repeat center top 100px;
 }

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 82px;
    position: absolute;
    width: 475px;
    height: 164px;
    left: 789px;
    top: 210px;
    margin: 0;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
    position: absolute;
    width: 467px;
    height: 127px;
    left: 789px;
    top: 372px;
    margin-bottom: 36px;
}

.new-сollection__main-card {
    position: absolute;
    left: 789px;
    top: 550px;
    display: flex;
    width: 475px;
    align-items: center;
    justify-content: space-between;
}

.button {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0;
    border: 1.5px solid #000;
    background-color: #fff;
   
     
}

.new-сollection__main-button {
    width: 203px;
    height: 44px; 
}

.link {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0px;
    color: #000;
    text-decoration: none;
}

.new-сollection__main-link {
width: 172px;
height: 0px;
}

.new-сollection__social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 752px;
    position: absolute;
}

.instagram {
    margin-right: 15px;
}

.vk {
    margin-right: 15px;
}

.fb {
    margin-right: 500px;
}

.line {
    position: absolute;
    top: 12px;
    right: 12px;
}
.img {
    position: relative;
}
.bag__title-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
}

.bag__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: .07em;
    opacity: .5;
}

.bag-text{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    opacity: .5;
}

.product {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px; 
}

.bag-title-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 41px;
}

.bag-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: .07em;
    opacity: .5;  
}

.total-look__text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;
    opacity: .5;
}

.name {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

.new-collection__background {
    background-size: 100% auto;
}


/* Медиа запросы */

@media (max-width: 1270px) { 
   .title {
       top: 30%;
       width: 20%;
       font-size: 50px;
       line-height: 52px;
       left: 60%;
   }
    } 

@media (max-width: 1270px) { 
    .text {
        width: 35%;
        left: 60%;
        height: 60%;
    }
}

@media (max-width: 1270px) { 
    .new-сollection__main-card {
        width: 38%;
        left: 60%;
        margin-top: 5%;
    }
}
    
@media (max-width: 1270px) { 
    .girl {
        width: 50%;
        margin-left: 5%;
    }
}

@media (max-width: 1100px) { 
    .new-сollection__main-button {
        width: 35%;
    }
}

@media (max-width: 1100px) { 
    .new-сollection__main-link {
        width: 50%;
        margin-left: 3%;
    }
}

@media (max-width: 1100px) { 
     .new-сollection-arrow {
        width: 10%;
    } 
     }


@media (min-width: 800px) { 
    .logo-mobil,
    .galka,
    .new-collection__background_girl {
        display: none;
        } 
    } 

@media (max-width: 799px) { 
    .logo,
    .lang,
    .check,
    .new-сollection__social,
    .text,
    .new-сollection__main-card,
    .new-collection__background {
         display: none;
        } 
    } 

@media (max-width: 800px) { 
    .logo-mobil {
          position: absolute;
          width: 98px;
          height: 37px;
          padding: 5% 0 0 7%; 
        }
    }  

@media (max-width: 799px) { 
    .girl {
        background: none
     }
    }

@media (max-width: 799px) { 
    .new-сollection {
        background: url(../img/girl2.jpg) no-repeat;
        background-size: cover;
        background-position: 0 92px; 
        width: 80%;
        margin-left: 10%;
        position: absolute;
        
    }
 }

 @media (max-width: 799px) { 
    .title {
        top: 80%;
        width: 15%;
        font-size: 50px;
        line-height: 52px;
        left: 30%;
    }
     } 

@media (max-width: 800px) {      
     .galka  {
        position: absolute;
        left: 45%;
        top: 95%;
    }
} 

@media (max-width: 630px) { 
    .new-сollection {
        background: url(../img/girl2.jpg) no-repeat;
        background-size: cover;
        background-position: -50px 92px; 
    }
 }

 @media (max-width: 630px) { 
    .title {
        top: 83%;
        width: 15%;
        font-size: 40px;
        line-height: 42px;
        left: 20%;
    }
     } 

@media (max-width: 630px) {      
     .galka  {
        position: absolute;
        left: 45%;
        top: 95%;
    }
} 

@media (max-width: 499px) { 
    .title {
        top: 65%;
        font-size: 25px;
        line-height: 22px;
    }
     } 

@media (max-width: 499px) {      
     .galka  {
        left: 40%;
        top: 75%;
    }
} 

@media (max-width: 499px) { 
    .new-сollection {
        background: url(../img/girl2.jpg) no-repeat;
        background-position: 20% 36%; 
        margin-left: 10%;
    }
 }
