body {
  color: #000000;
  font-family: 'montserrat-normal', sans-serif;
}

.body {
  min-width: 350px;
  max-width: 1440px;
  margin: 0 auto;
}

.title,
.bag__title-bold,
.bag__title,
.bag-title-bold,
.bag-title,
.name {
  font-family: 'montserrat-bold', sans-serif;
}

/* 1 section*/

.new-collection__background {
  max-width: 461px;
  height: 968px;
  position: absolute;
  background-size: 100% auto;
}

.new-сollection__header,
.new-сollection__main,
.new-сollection__menu,
.new-сollection__menu {
  position: relative;
}

.logo {
  margin-right: 238px;
  max-width: 98px;
  max-height: 37px;
  margin-top: 40px;
  margin-left: 52px;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.5;
}

.logo-mobil {
  position: absolute;
  width: 98px;
  height: 37px;
  padding: 5% 0 0 20%;
}

.galka:hover,
.logo-mobil:hover {
  opacity: 0.5;
}

.lang {
  margin-top: 42px;
}

.check {
  cursor: pointer;
}

.check:hover {
  opacity: 0.5;
}

.new-сollection__menu {
  width: 92px;
  height: 92px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.new-сollection__menu:hover {
  background-color: pink;
}

.new-сollection__menu-box {
  opacity: 0.05;
  background: #000;
  width: 92px;
  height: 92px;
}

 .menu {
  position: absolute;
  top: 40%;
  right: 30%;
 }

 .girl {
  max-width: 855.54px;
  height: 900px;
  left: 49.28px;
  top: 60.92px;
  margin-left: 50px;
  background: url(../img/girl.png) no-repeat center top 100px;
 }

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 82px;
  position: absolute;
  width: 475px;
  height: 164px;
  left: 789px;
  top: 210px;
  margin: 0;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
  position: absolute;
  width: 467px;
  height: 127px;
  left: 789px;
  top: 372px;
  margin-bottom: 36px;
}

.new-сollection__main-card {
  position: absolute;
  left: 789px;
  top: 550px;
  display: flex;
  width: 475px;
  align-items: center;
  justify-content: space-between;
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0;
  border: 1.5px solid #000;
  background-color: #fff;
}

.new-сollection__main-button {
  width: 203px;
  height: 44px;
  cursor: pointer;
}

.new-сollection__main-button:hover {
  background-color: pink;
}

.link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
  color: #000;
  text-decoration: none;
}

.new-сollection__main-link {
  width: 172px;
  height: 0;
  margin-right: 5%;
  margin-left: 7%;
}

.new-сollection__link-arrow {
  width: 300px;
}

.new-сollection__link-arrow:hover {
  opacity: 0.5;
}

.new-сollection__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top: 752px;
  position: absolute;
}

.instagram {
  margin-right: 15px;
  cursor: pointer;
}

.instagram:hover {
  opacity: 0.5;
}

.vk {
  margin-right: 15px;
  cursor: pointer;
}

.vk:hover {
  opacity: 0.5;
}

.fb {
  margin-right: 500px;
  cursor: pointer;
}

.fb:hover {
  opacity: 0.5;
}

.new-сollection__img-line:hover {
  opacity: 0.5;
}

.line {
  position: absolute;
  top: 12px;
  right: 12px;
}

.img {
  position: absolute;
  top: 3%;
  right: 0;
}

.bag__title-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 41px;
  position: absolute;
  width: 400px;
  height: 41px;
  left: 55px;
  top: 20px;
  color: #000;
}

.bag__title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  opacity: 0.5;
  position: absolute;
  width: 220px;
  height: 17px;
  left: 55px;
  top: 85px;
}

.bag-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  opacity: 0.5;
  position: absolute;
  width: 368px;
  height: 148px;
  left: 55px;
  top: 179px;
  color: #000;
}

.product {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.bag-title-bold {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 41px;
  height: 41px;
  margin-left: 47px;
  top: 34px;
  width: 90%;
}

.bag-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  opacity: 0.5;
  position: absolute;
  height: 17px;
  margin: 0 0 0 47px;
  top: 92px;
}

.total-look__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  opacity: 0.5;
  position: absolute;
  width: 75%;
  height: 101px;
  left: 50px;
  top: 144px;
  margin: 0;
}

.name {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  height: 15px;
  left: 1525px;
  top: 2813px;
  width: 115px;
}

/* Cтили 2й секции ниже */

.bag {
  background: #fae8e4;
  height: 952px;
  margin-top: 0;
}

.bag__wight {
  position: absolute;
  width: 398px;
  height: 415px;
  margin-left: 137px;
  top: 1117px;
}

.bag__pink {
  position: absolute;
  width: 582px;
  height: 844px;
  margin-left: 231px;
  top: 928px;
}

.card {
  position: absolute;
  width: 488px;
  height: 556px;
  margin-left: 879px;
  top: 1068px;
  background: #fff;
  min-width: 300px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bag__color {
  position: absolute;
  top: 375px;
  left: 55px;
}

.color-wight,
.color-blue,
.color-green {
  width: 30.18px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.color-pink {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #f29f9f;
  border: 1px solid #f29f9f;
}

.color-pink:hover {
  opacity: 0.5;
}

.color-wight {
  background: #ded;
}

.color-wight:hover {
  opacity: 0.5;
}

.color-blue {
  background: #a8bff9;
}

.color-blue:hover {
  opacity: 0.5;
}

.color-green {
  background: #90bd8f;
}

.color-green:hover {
  opacity: 0.5;
}

span {
  position: absolute;
  width: 125px;
  height: 57px;
  left: 288px;
  top: 365px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
  color: #000;
}

.button-minus,
.button-plus {
  border: none;
  background: #fae8e4;
}

.button-minus:hover,
.button-plus:hover {
  font-weight: bold;
  font-size: 30px;
}

.button-number,
.bag__button-number {
  position: absolute;
  width: 100px;
  height: 44px;
  left: 55px;
  top: 468px;
  border: 1.5px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bag__button {
  position: absolute;
  width: 253px;
  height: 44px;
  border: 1.5px solid #000;
  box-sizing: border-box;
  left: 170px;
  top: 468px;
  background: #fff;
}

.bag__button:hover {
  background: pink;
}

.bag__link-arrow:hover {
  opacity: 0.5;
}

.bag__link {
  position: absolute;
  width: 299px;
  height: 58px;
  margin-left: 884px;
  top: 1663px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.bag__arrow {
  position: absolute;
  width: 241px;
  margin-left: 1119.5px;
  top: 1665px;
}

/* Третья секция */

.total-look {
  top: 1852px;
  background: #ebe3d8;
  height: 952px;
  margin-top: 0;
  min-width: 350px;
}

.things {
  position: absolute;
  left: 400px;
  top: 2058px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.total-look__background {
  position: absolute;
  width: 73px;
  height: 952px;
  left: 700px;
}

.total-look__card {
  position: absolute;
  width: 475px;
  height: 351px;
  left: 1100px;
  top: 2177px;
  background: #fae8e4;
}

.total-look__button-number {
  left: 47px;
  top: 262px;
  background: #fae8e4;
}

.total-look__button {
  position: absolute;
  width: 253px;
  height: 44px;
  left: 162px;
  top: 262px;
  background: #fae8e4;
}

.total-look__button:hover {
  background: pink;
}

.total-look__link-arrow:hover {
  opacity: 0.5;
}

.total-look__link {
  position: absolute;
  width: 299px;
  height: 14px;
  left: 1275px;
  top: 2560px;
}

.total-look__arrow {
  position: absolute;
  left: 1510px;
  top: 2560px;
  width: 108px;
}

.letters-yellow {
  position: absolute;
  left: 1645px;
  top: 2803px;
  width: 82px;
  height: 22px;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

.letters-black {
  position: absolute;
  height: 5.22px;
  left: 1695px;
  top: 2827.1px;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

/* Медиа запросы 1 секции */

@media (max-width: 3000px) {
  .new-сollection__social {
    width: 50%;
  }
}

@media (max-width: 1500px) {
  .new-сollection__social {
    width: 45%;
  }
}

@media (max-width: 1500px) {
  .title {
    top: 30%;
    width: 20%;
    font-size: 50px;
    line-height: 52px;
    left: 55%;
  }
}

@media (max-width: 1500px) {
  .text {
    width: 35%;
    left: 55%;
    height: 60%;
  }
}

@media (max-width: 1500px) {
  .new-сollection__main-card {
    width: 38%;
    left: 55%;
    margin-top: 1%;
  }
}

@media (max-width: 1500px) {
  .girl {
    width: 50%;
    right: 60%;
  }
}

@media (max-width: 1500px) {
  .new-сollection__social {
    width: 45.5%;
  }
}

@media (max-width: 1300px) {
  .new-сollection__social {
    width: 47%;
  }
}

@media (max-width: 1200px) {
  .new-сollection__social {
    width: 45%;
  }
}

@media (max-width: 1200px) {
  .girl {
    width: 45%;
    right: 60%;
  }
}

@media (max-width: 1200px) {
  .new-сollection__main-button {
    width: 45%;
    font-size: 8px;
    font-size: 13px;
  }
}

@media (max-width: 1200px) {
  .new-сollection__link-arrow {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .new-сollection__main-link {
    width: 50%;
    font-size: 13px;
  }
}

@media (max-width: 1200px) {
  .new-сollection-arrow {
    width: 10%;
  }
}

@media (max-width: 1200px) {
  .new-сollection__social {
    width: 47%;
  }
}

@media (max-width: 1010px) {
  .new-сollection__main-button {
    font-size: 10px;
  }
}

@media (max-width: 1010px) {
  .new-сollection__main-link {
    font-size: 10px;
  }
}

@media (max-width: 961px) {
  .new-сollection__main-card {
    margin-top: 5%;
  }
}

@media (max-width: 961px) {
  .new-collection__background {
    max-width: 45%;
    min-height: 900px;
  }
}

@media (max-width: 961px) {
  .logo {
    margin-right: 20%;
  }
}

@media (max-width: 961px) {
  .new-сollection-main-link {
    font-size: 7px;
  }
}

@media (min-width: 801px) {
  .logo-mobil,
  .galka,
  .new-collection__background_girl {
    display: none;
  }
}

@media (max-width: 800px) {
  .logo,
  .lang,
  .check,
  .new-сollection__social,
  .text,
  .new-сollection__main-card,
  .new-collection__background {
    display: none;
  }
}

@media (max-width: 801px) {
  .logo-mobil {
    position: absolute;
    width: 98px;
    height: 37px;
    padding: 5% 0 0 7%;
  }
}

@media (max-width: 800px) {
  .girl {
    background: none;
  }
}

@media (max-width: 800px) {
  .new-сollection {
    background: url(../img/girl2.jpg) no-repeat;
    background-size: 125%;
    background-position: 0 92px;
  }
}

@media (max-width: 800px) {
  .title {
    top: 80%;
    width: 15%;
    font-size: 50px;
    line-height: 52px;
    left: 30%;
  }
}

@media (max-width: 801px) {
  .galka {
    position: absolute;
    left: 45%;
    top: 95%;
  }
}

@media (max-width: 630px) {
  .new-сollection {
    background: url(../img/girl2.jpg) no-repeat;
    background-size: cover;
    background-position: -50px 92px;
  }
}

@media (max-width: 630px) {
  .title {
    top: 83%;
    width: 15%;
    font-size: 40px;
    line-height: 42px;
    left: 25%;
  }
}

@media (max-width: 630px) {
  .galka {
    position: absolute;
    left: 45%;
    top: 95%;
  }
}

@media (max-width: 440px) {
  .title {
    top: 85%;
    font-size: 25px;
    line-height: 22px;
    left: 30%;
  }
}

@media (max-width: 440px) {
  .galka {
    left: 45%;
    top: 93%;
  }
}

@media (max-width: 440px) {
  .new-сollection {
    background-position: -100px 92px;
  }
}

/* Медиа запросы 2й секции */

@media (max-width: 1400px) {
  .card {
    width: 35%;
    margin-left: 60%;
  }
}

@media (max-width: 1400px) {
  .bag__link {
    width: 40%;
    margin-left: 60%;
  }
}

@media (max-width: 1400px) {
  .bag__arrow {
    margin-left: 78%;
    width: 15%;
  }
}

@media (max-width: 1400px) {
  .bag__wight {
    width: 35%;
    margin-left: 5%;
    height: 45%;
  }
}

@media (max-width: 1400px) {
  .bag__pink {
    width: 40%;
    margin-left: 15%;
    height: 100%;
  }
}

@media (max-width: 1330px) {
  .card {
    width: 38%;
  }
}

@media (max-width: 1300px) {
  .bag__arrow {
    margin-left: 80%;
  }
}

@media (max-width: 1220px) {
  .bag__title-bold {
    font-size: 30px;
    line-height: 31px;
    left: 30px;
    width: 300px;
  }
}

@media (max-width: 1220px) {
  .bag__title {
    font-size: 12px;
    line-height: 12px;
    left: 30px;
  }
}

@media (max-width: 1220px) {
  .bag-text {
    width: 80%;
    top: 150px;
    left: 30px;
  }
}

@media (max-width: 1220px) {
  .bag__button-number {
    width: 90px;
    left: 30px;
  }
}

@media (max-width: 1220px) {
  .bag__color {
    left: 30px;
  }
}

@media (max-width: 1220px) {
  .bag__button {
    left: 140px;
    width: 220px;
  }
}

@media (max-width: 1220px) {
  span {
    left: 60%;
  }
}

@media (max-width: 1220px) {
  .card {
    width: 35%;
  }
}

@media (max-width: 1200px) {
  .bag__pink {
    height: 85%;
    top: 1030px;
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .bag__wight {
    height: 43%;
    top: 1170px;
  }
}

@media (max-width: 1150px) {
  .bag__arrow {
    margin-left: 81%;
    width: 13%;
  }
}

@media (max-width: 1150px) {
  .bag__button {
    width: 56%;
  }
}

@media (max-width: 1150px) {
  .bag__arrow {
    width: 12%;
    margin-left: 82%;
  }
}

@media (max-width: 1050px) {
  .bag__arrow {
    width: 11%;
    margin-left: 83%;
  }
}

@media (max-width: 1050px) {
  .bag__pink {
    height: 70%;
    top: 1070px;
    width: 35%;
  }
}

@media (max-width: 1050px) {
  .bag__wight {
    width: 30%;
    height: 40%;
    top: 1190px;
  }
}

@media (max-width: 1000px) {
  .card {
    margin-left: 53%;
    width: 45%;
  }
}

@media (max-width: 1000px) {
  .bag__arrow {
    width: 17%;
    margin-left: 80%;
  }
}

@media (max-width: 1000px) {
  .bag__link {
    margin-left: 53%;
  }
}

@media (max-width: 850px) {
  .bag__arrow {
    margin-left: 82%;
    width: 15%;
  }
}

@media (max-width: 850px) {
  .bag__pink {
    height: 60%;
    top: 1090px;
  }
}

@media (max-width: 850px) {
  .bag__wight {
    height: 35%;
  }
}

@media (max-width: 800px) {
  .bag__wight,
  .bag__button-number,
  .bag__link-arrow {
    display: none;
  }
}

@media (max-width: 800px) {
  .bag__pink {
    width: 500px;
    height: 600px;
    left: 0;
    top: 752px;
  }
}

@media (max-width: 800px) {
  .card {
    margin: 5%;
    width: 90%;
    top: 1287px;
    height: 430px;
  }
}

@media (max-width: 800px) {
  .bag__title-bold {
    font-size: 40px;
    line-height: 41px;
    left: 10%;
    width: 350px;
  }
}

@media (max-width: 800px) {
  .bag__title {
    font-size: 16px;
    line-height: 18px;
    left: 10%;
  }
}

@media (max-width: 800px) {
  .bag-text {
    width: 80%;
    top: 140px;
    left: 10%;
  }
}

@media (max-width: 800px) {
  .bag__color {
    left: 10%;
    top: 63%;
    width: 300px;
  }
}

@media (max-width: 800px) {
  span {
    top: 65%;
    left: 65%;
  }
}

@media (max-width: 800px) {
  .color-wight,
  .color-blue,
  .color-green {
    width: 50px;
    height: 50px;
    margin-right: 5%;
  }
}

@media (max-width: 800px) {
  .color-pink {
    width: 60px;
    height: 60px;
    margin-right: 5%;
  }
}

@media (max-width: 800px) {
  .bag__button {
    left: 10%;
    top: 85%;
    width: 80%;
  }
}

@media (max-width: 660px) {
  .color-wight,
  .color-blue,
  .color-green {
    width: 40px;
    height: 40px;
    margin-right: 3%;
  }
}

@media (max-width: 660px) {
  .color-pink {
    width: 50px;
    height: 50px;
    margin-right: 3%;
  }
}

@media (max-width: 660px) {
  .bag__color {
    top: 65%;
  }
}

@media (max-width: 660px) {
  .bag__pink {
    left: -5%;
  }
}

@media (max-width: 660px) {
  .bag-text {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 550px) {
  .bag__pink {
    width: 400px;
  }
}

@media (max-width: 550px) {
  .bag__button {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .color-pink {
    width: 35px;
    height: 35px;
    margin-right: 2%;
  }
}

@media (max-width: 450px) {
  .color-wight,
  .color-blue,
  .color-green {
    width: 25px;
    height: 25px;
    margin-right: 2%;
  }
}

@media (max-width: 450px) {
  .bag__color {
    top: 68%;
  }
}

@media (max-width: 450px) {
  .bag__title-bold {
    font-size: 25px;
    line-height: 27px;
    width: 270px;
  }
}

@media (max-width: 450px) {
  .bag__pink {
    width: 300px;
  }
}

@media (max-width: 400px) {
  .bag__button {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .bag-text {
    font-size: 12px;
    line-height: 13px;
  }
}

/* Медиа запросы 3й секции */

@media (max-width: 3000px) {
  .things {
    left: 900px;
  }
}

@media (max-width: 3000px) {
  .total-look__background {
    left: 1200px;
  }
}

@media (max-width: 3000px) {
  .total-look__card {
    left: 1650px;
  }
}

@media (max-width: 3000px) {
  .total-look__link {
    left: 1790px;
  }
}

@media (max-width: 3000px) {
  .total-look__arrow {
    left: 2020px;
  }
}

@media (max-width: 3000px) {
  .letters-yellow {
    left: 1950px;
  }
}

@media (max-width: 3000px) {
  .letters-black {
    left: 2000px;
  }
}

@media (max-width: 3000px) {
  .name {
    left: 1830px;
  }
}

@media (max-width: 2860px) {
  .things {
    left: 750px;
  }
}

@media (max-width: 2860px) {
  .total-look__background {
    left: 1050px;
  }
}

@media (max-width: 2860px) {
  .total-look__card {
    left: 1500px;
  }
}

@media (max-width: 2860px) {
  .total-look__link {
    left: 1640px;
  }
}

@media (max-width: 2860px) {
  .total-look__arrow {
    left: 1870px;
  }
}

@media (max-width: 2860px) {
  .letters-yellow {
    left: 1950px;
  }
}

@media (max-width: 2860px) {
  .letters-black {
    left: 2000px;
  }
}

@media (max-width: 2860px) {
  .name {
    left: 1830px;
  }
}

@media (max-width: 2630px) {
  .letters-yellow {
    left: 1750px;
  }
}

@media (max-width: 2630px) {
  .letters-black {
    left: 1800px;
  }
}

@media (max-width: 2630px) {
  .name {
    left: 1630px;
  }
}

@media (max-width: 2630px) {
  .things {
    left: 650px;
  }
}

@media (max-width: 2630px) {
  .total-look__background {
    left: 950px;
  }
}

@media (max-width: 2630px) {
  .total-look__card {
    left: 1400px;
  }
}

@media (max-width: 2630px) {
  .total-look__link {
    left: 1540px;
  }
}

@media (max-width: 2630px) {
  .total-look__arrow {
    left: 1780px;
    width: 80px;
  }
}

@media (max-width: 2460px) {
  .things {
    left: 550px;
  }
}

@media (max-width: 2460px) {
  .total-look__background {
    left: 850px;
  }
}

@media (max-width: 2460px) {
  .total-look__card {
    left: 1300px;
  }
}

@media (max-width: 2460px) {
  .total-look__link {
    left: 1440px;
  }
}

@media (max-width: 2460px) {
  .total-look__arrow {
    left: 1680px;
    width: 80px;
  }
}

@media (max-width: 2260px) {
  .letters-yellow {
    left: 1650px;
  }
}

@media (max-width: 2260px) {
  .letters-black {
    left: 1700px;
  }
}

@media (max-width: 2260px) {
  .name {
    left: 1530px;
  }
}

@media (max-width: 2260px) {
  .things {
    left: 450px;
  }
}

@media (max-width: 2260px) {
  .total-look__background {
    left: 750px;
  }
}

@media (max-width: 2260px) {
  .total-look__card {
    left: 1200px;
  }
}

@media (max-width: 2260px) {
  .total-look__link {
    left: 1340px;
  }
}

@media (max-width: 2260px) {
  .total-look__arrow {
    left: 1580px;
    width: 80px;
  }
}

@media (max-width: 2050px) {
  .letters-yellow {
    left: 1550px;
  }
}

@media (max-width: 2050px) {
  .letters-black {
    left: 1600px;
  }
}

@media (max-width: 2050px) {
  .name {
    left: 1430px;
  }
}

@media (max-width: 2050px) {
  .things {
    left: 390px;
  }
}

@media (max-width: 2050px) {
  .total-look__background {
    left: 685px;
  }
}

@media (max-width: 2050px) {
  .total-look__card {
    left: 1110px;
  }
}

@media (max-width: 2050px) {
  .total-look__link {
    left: 1240px;
  }
}

@media (max-width: 2050px) {
  .total-look__arrow {
    left: 1480px;
    width: 80px;
  }
}

@media (max-width: 1850px) {
  .letters-yellow {
    left: 1450px;
  }
}

@media (max-width: 1850px) {
  .letters-black {
    left: 1500px;
  }
}

@media (max-width: 1850px) {
  .name {
    left: 1330px;
  }
}

@media (max-width: 1850px) {
  .things {
    left: 250px;
  }
}

@media (max-width: 1850px) {
  .total-look__background {
    left: 550px;
  }
}

@media (max-width: 1850px) {
  .total-look__card {
    left: 1000px;
  }
}

@media (max-width: 1850px) {
  .total-look__link {
    left: 1140px;
  }
}

@media (max-width: 1850px) {
  .total-look__arrow {
    left: 1380px;
  }
}

@media (max-width: 1650px) {
  .letters-yellow {
    left: 1300px;
  }
}

@media (max-width: 1650px) {
  .letters-black {
    left: 1350px;
  }
}

@media (max-width: 1650px) {
  .name {
    left: 1180px;
  }
}

@media (max-width: 1650px) {
  .things {
    left: 150px;
  }
}

@media (max-width: 1650px) {
  .total-look__background {
    left: 400px;
  }
}

@media (max-width: 1650px) {
  .total-look__card {
    left: 900px;
  }
}

@media (max-width: 1650px) {
  .total-look__link {
    left: 1040px;
  }
}

@media (max-width: 1650px) {
  .total-look__arrow {
    left: 1280px;
  }
}

@media (max-width: 1470px) {
  .letters-yellow {
    left: 1200px;
  }
}

@media (max-width: 1470px) {
  .letters-black {
    left: 1250px;
  }
}

@media (max-width: 1470px) {
  .name {
    left: 1080px;
  }
}

@media (max-width: 1470px) {
  .things {
    margin-left: 2%;
    left: 0;
    width: 60%;
  }
}

@media (max-width: 1470px) {
  .total-look__background {
    left: 0;
    margin-left: 20%;
    width: 5%;
  }
}

@media (max-width: 1470px) {
  .total-look__card {
    left: 0;
    margin-left: 54%;
    width: 34%;
  }
}

@media (max-width: 1470px) {
  .total-look__link {
    left: 0;
    margin-left: 63%;
  }
}

@media (max-width: 1470px) {
  .total-look__arrow {
    left: 0;
    margin-left: 80%;
  }
}

@media (max-width: 1360px) {
  .letters-yellow {
    left: 1050px;
  }
}

@media (max-width: 1360px) {
  .letters-black {
    left: 1100px;
  }
}

@media (max-width: 1360px) {
  .name {
    left: 930px;
  }
}

@media (max-width: 1360px) {
  .bag-title-bold {
    font-size: 30px;
    margin-left: 25px;
  }
}

@media (max-width: 1360px) {
  .bag-title {
    font-size: 18px;
    margin-left: 25px;
  }
}

@media (max-width: 1360px) {
  .total-look__text {
    font-size: 18px;
    left: 25px;
  }
}

@media (max-width: 1360px) {
  .total-look__button-number {
    width: 20%;
    left: 25px;
  }
}

@media (max-width: 1360px) {
  .total-look__button {
    width: 55%;
    left: 140px;
    height: 47px;
  }
}

@media (max-width: 1320px) {
  .total-look__arrow {
    width: 5%;
    margin-left: 82%;
  }
}

@media (max-width: 1200px) {
  .letters-yellow {
    left: 850px;
  }
}

@media (max-width: 1200px) {
  .letters-black {
    left: 900px;
  }
}

@media (max-width: 1200px) {
  .name {
    left: 730px;
  }
}

@media (max-width: 1150px) {
  .total-look__button {
    left: 120px;
  }
}

@media (max-width: 1150px) {
  .total-look__text {
    width: 80%;
  }
}

@media (max-width: 1170px) {
  .total-look__arrow {
    margin-left: 84%;
    width: 4%;
  }
}

@media (max-width: 1170px) {
  .things {
    width: 57%;
  }
}

@media (max-width: 1170px) {
  .total-look__link {
    font-size: 12px;
  }
}

@media (max-width: 1020px) {
  .total-look__arrow {
    margin-left: 85%;
    width: 4%;
  }
}

@media (max-width: 980px) {
  .total-look__card {
    height: 280px;
  }
}

@media (max-width: 980px) {
  .bag-title-bold {
    font-size: 22px;
  }
}

@media (max-width: 980px) {
  .bag-title {
    font-size: 13px;
    top: 70px;
  }
}

@media (max-width: 980px) {
  .total-look__text {
    font-size: 13px;
    top: 110px;
  }
}

@media (max-width: 980px) {
  .total-look__button {
    width: 54%;
    left: 110px;
    font-size: 10px;
    top: 205px;
  }
}

@media (max-width: 980px) {
  .total-look__button-number {
    top: 205px;
  }
}

@media (max-width: 980px) {
  .total-look__link {
    font-size: 11px;
    top: 2490px;
  }
}

@media (max-width: 980px) {
  .total-look__arrow {
    top: 2490px;
  }
}

@media (max-width: 980px) {
  .letters-yellow {
    left: 690px;
  }
}

@media (max-width: 980px) {
  .letters-black {
    left: 740px;
  }
}

@media (max-width: 980px) {
  .name {
    left: 570px;
  }
}

@media (max-width: 900px) {
  .total-look__link {
    font-size: 10px;
    max-width: 250px;
  }
}

@media (max-width: 800px) {
  .name,
  .letters-yellow,
  .letters-black,
  .total-look__button-number {
    display: none;
  }
}

@media (max-width: 800px) {
  .total-look {
    height: 1120px;
  }
}

@media (max-width: 800px) {
  .things {
    margin-left: 8%;
    top: 1920px;
    width: 90%;
    height: 475px;
    left: 0;
  }
}

@media (max-width: 800px) {
  .total-look__background {
    width: 10%;
    margin-left: 30%;
    height: 1120px;
  }
}

@media (max-width: 800px) {
  .total-look__card {
    top: 2360px;
    margin-left: 16%;
    width: 77%;
    height: 355px;
  }
}

@media (max-width: 800px) {
  .bag-title-bold {
    font-size: 38px;
    margin-left: 30px;
    margin-top: 40px;
  }
}

@media (max-width: 800px) {
  .bag-title {
    font-size: 20px;
    margin-left: 30px;
    top: 95px;
    width: 250px;
  }
}

@media (max-width: 800px) {
  .total-look__text {
    font-size: 15px;
    left: 30px;
    top: 140px;
    width: 370px;
  }
}

@media (max-width: 800px) {
  .total-look__button {
    top: 240px;
    width: 85%;
    left: 8%;
    height: 70px;
    font-size: 25px;
  }
}

@media (max-width: 800px) {
  .total-look__link {
    top: 2800px;
    font-size: 27px;
    line-height: 30px;
    width: 250px;
    margin-left: 50%;
  }
}

@media (max-width: 800px) {
  .total-look__arrow {
    top: 2870px;
    width: 35%;
    margin-left: 50%;
  }
}

@media (max-width: 630px) {
  .total-look,
  .total-look__background {
    height: 1000px;
  }
}

@media (max-width: 630px) {
  .things {
    width: 85%;
    height: 400px;
  }
}

@media (max-width: 630px) {
  .total-look__card {
    top: 2280px;
    margin-left: 16%;
    width: 70%;
    height: 300px;
  }
}

@media (max-width: 630px) {
  .total-look__button {
    top: 220px;
    height: 50px;
    font-size: 17px;
  }
}

@media (max-width: 630px) {
  .total-look__link {
    top: 2670px;
  }
}

@media (max-width: 630px) {
  .total-look__arrow {
    top: 2740px;
  }
}

@media (max-width: 600px) {
  .total-look__text {
    width: 250px;
  }
}

@media (max-width: 580px) {
  .bag-title-bold {
    font-size: 30px;
  }
}

@media (max-width: 520px) {
  .total-look__button {
    font-size: 13px;
  }
}

@media (max-width: 520px) {
  .total-look__link {
    font-size: 18px;
    width: 170px;
  }
}

@media (max-width: 520px) {
  .bag-title-bold {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .total-look,
  .total-look__background {
    height: 900px;
  }
}

@media (max-width: 500px) {
  .things {
    height: 350px;
  }
}

@media (max-width: 500px) {
  .total-look__card {
    top: 2240px;
    height: 270px;
  }
}

@media (max-width: 500px) {
  .total-look__link {
    top: 2590px;
  }
}

@media (max-width: 500px) {
  .total-look__arrow {
    top: 2650px;
  }
}

@media (max-width: 500px) {
  .total-look__button {
    top: 190px;
  }
}

@media (max-width: 430px) {
  span {
    font-size: 25px;
  }
}

@media (max-width: 430px) {
  .things {
    height: 300px;
  }
}

@media (max-width: 430px) {
  .total-look__card {
    top: 2200px;
    height: 300px;
  }
}

@media (max-width: 430px) {
  .total-look__text {
    font-size: 12px;
    top: 120px;
    left: 15px;
  }
}

@media (max-width: 430px) {
  .total-look__button {
    top: 220px;
  }
}

@media (max-width: 430px) {
  .bag-title-bold {
    font-size: 20px;
    margin-left: 15px;
  }
}

@media (max-width: 430px) {
  .bag-title {
    font-size: 14px;
    margin-left: 15px;
  }
}

@media (max-width: 430px) {
  .total-look__link {
    top: 2570px;
  }
}

@media (max-width: 430px) {
  .total-look__arrow {
    top: 2630px;
  }
}

@media (max-width: 430px) {
  .total-look,
  .total-look__background {
    height: 850px;
  }
}

@media (max-width: 330px) {
  .things {
    width: 95%;
    height: 40%;
  }
}

@media (max-width: 300px) {
  .things {
    width: 105%;
  }
}

@media (max-width: 326px) {
  .total-look__card {
    width: 80%;
  }
}

@media (max-width: 326px) {
  .bag-title-bold {
    font-size: 17px;
  }
}

@media (max-width: 300px) {
  .total-look__card {
    width: 90%;
  }
}

@media (max-width: 280px) {
  .total-look__button {
    font-size: 10px;
  }
}
